.App {
    background-color: var(--pr-color);
    color: var(--font-sec-color);
    min-height: 100%;
    display: flex;
    --pr-transparent: #ffffff09;
    --dark-transparent: #00000061;
    scrollbar-width: thin;
}
.hc-text {
    color: var(--font-sec-color);
}
.elevated {
    background-color: var(--pr-transparent);
}
.depressed {
    background-color: var(--dark-transparent);
}
.btn {
    background-color: var(--sec-color);
    color: var(--pr-color);
    border: none;
    padding: 0.5rem 0.8rem;
}
.hover-container {
    cursor: default;
    border: none;
    background: inherit;
}
.hover-container:hover {
    filter: none;
}
.center-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index: 2;
    border-radius: 6px;
    background-color: var(--pr-color);
}
.center-form-bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: inherit;
}
.center-form-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background-color: #f5f5f5;
    opacity: 0.2;
}
.font-sm {
    font-size: 0.85rem;
}
#App-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    min-width: 180px;
    background-color: var(--pr-transparent);
}
#App-nav > * {
    padding: 1rem;
    border-left: 2px solid transparent;
    width: 100%;
    box-sizing: border-box;
}
#App-nav.collapsed {
    min-width: 60px;
    max-width: 60px;
    
}
#App-nav.collapsed .nav-label {
    display: none;
}
#App-nav .nav-item {
    color: var(--font-sec-color);
    font-size: 0.9rem;
    font-weight: bold;
}
#App-nav .nav-item.selected {
    background-color: #00000020;
    border-left: 2px solid var(--sec-color);
    color: var(--sec-color);
}
.App-main {
    width: 100%;
}
.icon {
    color: var(--sec-color);
    cursor: pointer;
}
.icon.lg, .icon-btn.lg {
    font-size: 1.2rem;
}
.icon-btn {
    background-color: transparent;
    border: none;
    color: var(--sec-color);
    cursor: pointer;
    font-size: 0.9rem;
}
#theme-btn {
    margin-left: auto;
}
.has-dropdown {
    position: relative;
}
.has-dropdown .dropdown {
    position: absolute;
    top: calc(100% + 20px);
    right: 1%;
    min-width: 150px;
    max-width: 400px;
    background-color: var(--pr-color);
    filter: brightness(1.2);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
}
.dropdown.drp-md.center-aligned {
    left: -175px;
    width: 400px;
    max-width: 400px;
}
.dropdown li {
    margin: 1rem;
}
.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.li-none {
    margin-left: 0;
    list-style: none;
}
#home {
    margin-top: 1.5rem;
}
#home .recent-exp .items {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--sec-color) var(--dark-transparent);
}
@media (max-width: 640px) {
    #App-nav {
        min-width: 60px;
        max-width: 60px;
        align-items: center;
    }
    #App-nav .nav-label {
        display: none;
    }
}